/* Скидання стилів */
@import url("reset.css");
/* fonts */
@import url("fonts.css");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400.600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap");

/* Основні стилі */
body {
	font-family: "Inter", serif;
	color: #7d7d7d;
	font-size: 18px;
	line-height: 146.187%; /* 26.314px */
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", serif;
	color: #37393f;
}

.cw-container {
	max-width: 673px;
	margin: 0 auto 150px;
}
.cw-title {
	max-width: 415px;
	margin-bottom: 30px;
}
.square {
	background: #40ddb6;
	width: 12px;
	height: 12px;
	display: inline-block;
}
h3 {
	display: inline-block;
	font-family: Inter;
	font-weight: 500;
	margin-bottom: 16px;
}
h2 {
	font-size: 40px;
	font-weight: 700;
	line-height: 121%; /* 48.4px */
}
.cw-content {
	margin-bottom: 20px;
}

.cw-content > p:not(:last-child) {
	margin-bottom: 15px;
}
.cw-list-points-1__item {
	background: url(../img/vector.svg) 0 3px no-repeat;
	padding-left: 35px;
	min-height: 30px;
}
.cw-points-1 > ul > li:not(:last-child) {
	margin-bottom: 23px;
}
.cw-list-points-1__item > h4 {
	font-size: 20px;
	margin-bottom: 12px;
}
.cw-points {
	margin-bottom: 37px;
}
.cw-points-1 {
	margin-bottom: 43px;
}
.cw-points-2 {
	margin-bottom: 37px;
}
.cw-points-2 > ul > li {
	display: inline-block;
}
.cw-list-points-2__container {
	width: 320px;
	padding: 32px;
	border: 1px solid #e3e3e3;
}
.experience {
	background: url(../img/experience.svg) 0 0 no-repeat;
}
.cw-list-points-2__content > * {
	padding-left: 59px;
}

.awards {
	background: url(../img/awards.svg) 0 3px no-repeat;
}

.cw-points-2 > ul > li:not(:last-child) {
	padding-right: 23px;
}

.cw-button {
	min-width: 184px;
	height: 65px;
}
.cw__button {
	display: inline-block;
	color: #fff;
	text-align: center;
	background: #6b77e5;
	padding: 22px 27px;
	font-weight: 600;
	line-height: normal;
}

.lp-container {
	width: 1220px;
	margin: 0 auto 100px;
}
.lp-title {
	max-width: 852px;
	text-align: center;
	margin: 0 auto 47px;
}
.lp-title > h3 {
	display: inline-block;
}
.lp-content {
	max-width: 1220px;
}
.lp-content > ul > li {
	width: 30%;
	min-width: 312px;
	display: inline-block;
}
.lp-content > ul:not(:last-child) {
	margin-bottom: 58px;
}
.lp-content > ul > li:not(:last-child) {
	padding-right: 34px;
}
.lp-background {
	min-height: 501px;
	width: 100%;
	margin-bottom: 24px;
}
.lp-background-1st {
	background: url(../img/lp-bg-1.jpg) center/ cover no-repeat;
}
.lp-background-2nd {
	background: url(../img/lp-bg-2.jpg) center/ cover no-repeat;
}
.lp-background-3rd {
	background: url(../img/lp-bg-3.jpg) center/ cover no-repeat;
}
.lp-background-4th {
	background: url(../img/lp-bg-4.jpg) center/ cover no-repeat;
}
.lp-background-5th {
	background: url(../img/lp-bg-5.jpg) center/ cover no-repeat;
}
.lp-background-6th {
	background: url(../img/lp-bg-6.jpg) center/ cover no-repeat;
}
.lp-info > h3 {
	margin-bottom: 10px;
}
.calendar {
	background: url(../img/calendar.svg) 0 0 no-repeat;
	padding-left: 25px;
}
.cl-container {
	width: 1240px;
	margin: 0 auto;
}

.cl-title {
	margin-left: -20px;
}
.cl-title > * {
	display: inline-block;
}
.rectangle {
	border-radius: 10px;
	background: #8a33fd;
	width: 6px;
	height: 28px;
}

.cl-title > h2 {
	margin-left: 9px;
	font-size: 28px;
	color: #3c4242;
	font-family: "Core Sans C", sans-serif;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: 0.56px;
}
.cl-info > * {
	margin-bottom: 20px;
	color: #807d7e;
	font-family: "Causten";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 33.5px; /* 167.5% */
	letter-spacing: 0.4px;
}
.cl-info > h3,
.cl-btn {
	font-family: "Core Sans C", sans-serif;
	font-weight: 600;
}
.cl-bold {
	font-weight: 600;
}
.ehp-container {
	width: 1240px;
	margin: 0 auto;
	font-size: 0;
}
.ehp-info {
	display: inline-block;
	width: 50%;
	min-width: 610px;
	min-height: 640px;
	max-height: 640px;
	background: url(../img/fashion1.jpg) center / cover no-repeat;
	padding: 183px 74px 175px;
	border-radius: 10px 0 0 10px;
	vertical-align: middle;
}
.ehp-info > h2 {
	color: #fff;
	font-family: "Core Sans C", sans-serif;
	font-size: 31px;
	font-style: normal;
	font-weight: 800;
	line-height: 50px; /* 147.059% */
	letter-spacing: 0.208px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.ehp-info > p {
	color: #fff;
	font-family: "Causten", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	letter-spacing: 1px;
	margin-bottom: 50px;
}
.ehp-info > a {
	color: #3c4242;
	background-color: #fff;
	padding: 12px 44px;
	font-size: 18px;
	font-weight: 600;
	border-radius: 8px;
	line-height: 1;
	display: inline-block;
}
.ehp-picture {
	display: inline-block;
	width: 50%;
	min-width: 610px;
	min-height: 640px;
	max-height: 640px;
	background: url(../img/fashion2.jpg) center / cover no-repeat;
	border-radius: 0 10px 10px 0;
	vertical-align: middle;
}
footer {
	text-align: center;
}
footer > a {
	font-size: 24px;
	color: #02ff49;
	text-shadow:
		-5px 10px 10px #edf100,
		2px 2px 2px #020080;
}
