body {
	background-image: linear-gradient(to bottom, #f4f6f5, #f4f6f5, #f3f5f4, #f3f5f4, #f2f4f3);
}

/* sticky practice*/

.page__practice {
	position: relative;
	margin-bottom: 10px;
}

.practice__title {
	font-size: 40px;
	padding: 20px;
	letter-spacing: 2px;
	text-align: center;
}

.item-practice__title {
	color: #f2f4f3;
	text-align: center;
	padding: 25px;
	font-size: 28px;
}

.item-practice__title--color-1 {
	position: sticky;
	top: 90px;
	left: 0;
	z-index: 3;
	background-color: #478485;
}

.item-practice__title--color-2 {
	position: sticky;
	top: 90px;
	left: 0;
	z-index: 2;
	background-color: #949191;
}

.item-practice__title--color-3 {
	position: sticky;
	top: 90px;
	left: 0;
	z-index: 1;
	background-color: #0ad587;
}

.item-practice__title--color-4 {
	position: sticky;
	top: 90px;
	left: 0;
	z-index: 1;
	background-color: #61bec0;
}
.item-practice__text p {
	padding-top: 10px;
	text-align: justify;
}
.item-practice__text p:not(:last-child) {
	padding-bottom: 10px;
}
.fixed__one {
	position: fixed;
	bottom: 55%;
	right: 3.5%;
	z-index: 25;
}
