/* Скидання стилів */
@import url("fonts.css");
@import url("reset.css");

/* Основні стилі */
[class*="_container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}
body {
	font-family: "Inter", sans-serif;
	font-style: normal;
}
h1,
h2 {
	font-size: 28px;
	text-align: center;
}
.header {
	margin: 20px auto;
}
.section {
	border: solid;
	margin-bottom: 10px;
}
.section h2 {
	padding-top: 20px;
}
.img-block {
	display: flex;
	margin: 20px auto;
	justify-content: space-evenly;
}
img {
	cursor: pointer;
}
.raster {
	flex-direction: column;
	align-items: center;
}

.raster-image {
	max-width: 900px;
}

.raster-image:not(:last-child) {
	margin-bottom: 10px;
}
.footer__container {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
.footer__link {
	font-size: 24px;
	color: #d45b3d;
	text-shadow:
		-5px 10px 10px #053610,
		2px 2px 2px #020080;
}
